header
{
width: 100%;
height: 150px;
background-color: red;
}

nav
{
width: 100%;
height: 50px;
background-color: green;
margin-top: 30px;
padding-left: 50px;
}

main{background: rgb(23, 129, 57);}
section{background: rgb(23, 29, 157);}
article{background: rgb(193, 129, 57);}
aside{background: rgb(20, 119, 127);}

footer
{width: 100%;
height: 100px;
background: rgb(230, 79, 67);
}
